<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/styles/styleDetailPage.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
  <script src="/popUp.js"></script>
  <title>
    <%= recept.Naam %>
  </title>
</head>

<body>
  <div class="main">
    <div class="top">
      <img src="<%=recept.Foto %>" alt="">
      <a href="/recipes">Back</a>
      <div class="fadebox"></div>
    </div>



    <div class="infobox">
      <div class="tagsbox">

        <% if (recept.tags.includes("vegan")) { %>
          <div id="separator"><img src="../vegan.png" alt="" id="icon"></div>
        <% } %>
        <% if (recept.tags.includes("ei")) { %>
          <div id="separator"><img src="../ei.png" alt="" id="icon"></div>
        <% } %>
        <% if (recept.tags.includes("gluten")) { %>
          <div id="separator"><img src="../gluten.png" alt="" id="icon"></div>
        <% } %>
        <% if (recept.tags.includes("lupine")) { %>
          <div id="separator"><img src="../lupine.png" alt="" id="icon"></div>
        <% } %>
        <% if (recept.tags.includes("melk")) { %>
          <div id="separator"><img src="../melk.png" alt="" id="icon"></div>
        <% } %>
        <% if (recept.tags.includes("sesamzaad")) { %>
          <div id="separator"><img src="../sesamzaad.png" alt="" id="icon"></div>
        <% } %>
        <% if (recept.tags.includes("noten")) { %>
          <div id="separator"><img src="../noten.png" alt="" id="icon"></div>
        <% } %>
        <% if (recept.tags.includes("zwaveldioxide")) { %>
          <div id="separator"><img src="../zwaveldioxide.png" alt="" id="icon"></div>
        <% } %>
        <% if (recept.tags.includes("selderij")) { %>
          <div id="separator"><img src="../selderij.png" alt="" id="icon"></div>
        <% } %>
        <% if (recept.tags.includes("pinda")) { %>
          <div id="separator"><img src="../pinda.png" alt="" id="icon"></div>
        <% } %>
        <% if (recept.tags.includes("mosterd")) { %>
          <div id="separator"><img src="../mosterd.png" alt="" id="icon"></div>
        <% } %>
        <% if (recept.tags.includes("vis")) { %>
          <div id="separator"><img src="../vis.png" alt="" id="icon"></div>
        <% } %>
        <% if (recept.tags.includes("weekdieren")) { %>
          <div id="separator"><img src="../weekdieren.png" alt="" id="icon"></div>
        <% } %>
        <% if (recept.tags.includes("soja")) { %>
          <div id="separator"><img src="../soja.png" alt="" id="icon"></div>
        <% } %>
        <% if (recept.tags.includes("schaaldieren")) { %>
          <div id="separator"><img src="../schaaldieren.png" alt="" id="icon"></div>
        <% } %>
      </div>

      <div class="sharebox">
        <i class="fa-solid fa-pen" onclick="openPopup('edit-container')"></i>
        <i class="fa-solid fa-share-nodes" onclick="openPopup('share-container')"></i>
      </div>
    </div>





    <div class="bottom">
      <div class="ingredientbox">
        <div class="ingrBox" style="border-bottom: 2px solid rgb(71, 70, 70);">
          <div class="ingrAmount"><strong>#</strong></div>
          <div class="ingrName"><strong>Ingrediënt</strong></div>
        </div>
        <% for (const key in recept.Ingredienten) { %>
          <div class="ingrBox">
            <div class="ingrAmount">
              <%= recept.Ingredienten[key] %>
            </div>
            <div class="ingrName">
              <%= key %>
            </div>
          </div>
          <% } %>
      </div>
      <div class="stepsbox">
        <div>
          <span class="stepTitle">
            <u>
              Stappen
            </u>
          </span>
        </div>
        <ol class="stepList" style="margin-bottom: 10px;">
          <% recept.Stappen.forEach(step=> { %>
            <li class="step">
              <%= step %>
            </li>
            <% }); %>
        </ol>
      </div>
    </div>
  </div>
</body>
<!-- PopUps -->
<%- include("../partial/sharePopUp.ejs") %>
  <%- include("../partial/editPopUp.ejs") %>

</html>
<%- include("../partial/footer") %>