<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/styleListPage.css">
  <script src="/popUp.js"></script>
  <title>
    Recipe List
  </title>
</head>

<body>
  <div class="topBar">
    <div class="zoekBalk"> 
      <%- include("../partial/searchBar.ejs") %>
    </div>
    <div class="filter">
      <select id="dropdown">
        <option value="">AUGGG</option>
        <option value="Deez nuts">Deez nuts</option>
        <option value="the">the</option>
      </select>
    </div>
  </div>
  <div class="main">
    <div class="gridContainer">
      <% recipes.forEach(recipe=> { %>
        <div class="receptTile" onclick="window.location.href = '/recipes/<%= recipe.Recept.Naam %>'">
          <div class="receptImg">
            <img src="<%=recipe.Recept.Foto %>" id="foto">
          </div>
          <div class="receptName">
            <%= recipe.Recept.Naam %>
          </div>
          <div class="editbox">
            <!-- TODO: je zie niks van tekst omda tekst_kleur1 wit is -->
            <img src="/icons/edit.png" onclick="openPopup('edit-container'); event.stopPropagation()" id="icon" title="Bewerken">
            <img src="/icons/trash.png" onclick="openPopup('edit-container'); event.stopPropagation()" id="icon" title="Verwijder">
          </div>
        </div>
      <% }); %>
      <div class="addTile" onclick="window.location.href = '/recipeAdd.html'">
        <p>+</p>
      </div>
    </div>
  </div>
  <!-- Pop-ups! -->
  <%- include("../partial/editPopUp.ejs") %> 
</body>
</html>