<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/styles/styleDetailPage.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

  <title>
    <%= recept.Naam %>
  </title>
</head>

<body>
  <div class="main">
    <div class="top">
      <img src="<%=recept.Foto %>" alt="">
      <a href="/recipes">Back</a>
      <div class="fadebox"></div>
    </div>



    <div class="infobox">
      <div class="tagsbox">
        <i class="fa-solid fa-person">
          <%= recept.personen%>
        </i>
        <% if (recept.tags.includes("vegan")) { %>
            <i class="fa-solid fa-leaf">
              Vegan
            </i>
          <% }
        %>
      </div>

      <div class="sharebox">
        <a href="/sharepage">
          <i class="fa-solid fa-pen"></i>
        </a>
        <a href="/">
          <i class="fa-solid fa-share-nodes"></i>
        </a>
      </div>
    </div>





    <div class="bottom">
      <div class="ingredientbox">
        <div class="ingrBox" style="border-bottom: 2px solid rgb(71, 70, 70);">
          <div class="ingrAmount"><strong>#</strong></div>
          <div class="ingrName"><strong>Ingrediënt</strong></div>
        </div>
        <% for (const key in recept.Ingredienten) { %>
          <div class="ingrBox">
            <div class="ingrAmount">
              <%= recept.Ingredienten[key] %>
            </div>
            <div class="ingrName">
              <%= key %>
            </div>
          </div>
          <% } %>
      </div>
      <div class="stepsbox">
        <div>
          <span class="stepTitle">
            <u>
              Stappen
            </u>
          </span>
        </div>
        <ol class="stepList">
          <% recept.Stappen.forEach(step=> { %>
            <li>
              <%= step %>
            </li>
            <% }); %>
        </ol>
      </div>
    </div>
  </div>
</body>

</html>
<%- include("../partial/footer") %>