<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/styleDetailPage.css">
  <script src="/popUp.js"></script>
  <title>
    <%= recept.Naam %>
  </title>
</head>

<body>
  <div class="main">
    <div class="top">
      <img src="<%=recept.Foto %>" alt="">
      <a href="/recipes">Back</a>
      <div class="fadebox"></div>
    </div>



    <div class="infobox">
      <div class="tagsbox">
        <% if (recept.tags.includes("vegan")) { %>
          <div id="separator"><img src="/icons/vegan.png" title="Vegan" id="icon"></div>
        <% } %>
        <% if (recept.tags.includes("ei")) { %>
          <div id="separator"><img src="/icons/ei.png" title="Ei" id="icon"></div>
        <% } %>
        <% if (recept.tags.includes("gluten")) { %>
          <div id="separator"><img src="/icons/gluten.png" title="Gluten" id="icon"></div>
        <% } %>
        <% if (recept.tags.includes("lupine")) { %>
          <div id="separator"><img src="/icons/lupine.png" title="Lupine" id="icon"></div>
        <% } %>
        <% if (recept.tags.includes("melk")) { %>
          <div id="separator"><img src="/icons/melk.png" title="Melk" id="icon"></div>
        <% } %>
        <% if (recept.tags.includes("sesamzaad")) { %>
          <div id="separator"><img src="/icons/sesamzaad.png" title="Sesamzaad" id="icon"></div>
        <% } %>
        <% if (recept.tags.includes("noten")) { %>
          <div id="separator"><img src="/icons/noten.png" title="Noten" id="icon"></div>
        <% } %>
        <% if (recept.tags.includes("zwaveldioxide")) { %>
          <div id="separator"><img src="/icons/zwaveldioxide.png" title="Zwaveldioxide" id="icon"></div>
        <% } %>
        <% if (recept.tags.includes("selderij")) { %>
          <div id="separator"><img src="/icons/selderij.png" title="Selderij" id="icon"></div>
        <% } %>
        <% if (recept.tags.includes("pinda")) { %>
          <div id="separator"><img src="/icons/pinda.png" title="Pinda" id="icon"></div>
        <% } %>
        <% if (recept.tags.includes("mosterd")) { %>
          <div id="separator"><img src="/icons/mosterd.png" title="Mosterd" id="icon"></div>
        <% } %>
        <% if (recept.tags.includes("vis")) { %>
          <div id="separator"><img src="/icons/vis.png" title="Vis" id="icon"></div>
        <% } %>
        <% if (recept.tags.includes("weekdieren")) { %>
          <div id="separator"><img src="/icons/weekdieren.png" title="Weekdieren" id="icon"></div>
        <% } %>
        <% if (recept.tags.includes("soja")) { %>
          <div id="separator"><img src="/icons/soja.png" title="Soja" id="icon"></div>
        <% } %>
        <% if (recept.tags.includes("schaaldieren")) { %>
          <div id="separator"><img src="/icons/schaaldieren.png" title="Schaaldieren" id="icon"></div>
        <% } %>
      </div>

      <div class="sharebox">
        <div id="separator"><img src="/icons/edit.png" onclick="openPopup('edit-container')" id="icon" title="Bewerken"></div>
        <div id="separator"><img src="/icons/delen.png" onclick="openPopup('share-container')" id="icon" title="Delen"></div>
      </div>
    </div>




    <div class="bottom">
      <div class="ingredientbox">
        <div class="ingrBox" style="border-bottom: 2px solid rgb(71, 70, 70);">
          <div class="ingrAmount"><strong>#</strong></div>
          <div class="ingrName"><strong>Ingrediënt</strong></div>
        </div>
        <% for (const key in recept.Ingredienten) { %>
          <div class="ingrBox">
            <div class="ingrAmount">
              <%= recept.Ingredienten[key] %>
            </div>
            <div class="ingrName">
              <%= key %>
            </div>
          </div>
          <% } %>
      </div>
      <div class="stepsbox">
        <div>
          <span class="stepTitle">
            <u>
              <%= recept.Naam %>
            </u>
          </span>
        </div>
        <ol class="stepList" style="margin-bottom: 10px;">
          <% recept.Stappen.forEach(step=> { %>
            <li class="step">
              <%= step %>
            </li>
            <% }); %>
        </ol>
      </div>
    </div>
  </div>
  <!-- PopUps -->
  <%- include("../partial/sharePopUp.ejs") %>
  <%- include("../partial/editPopUp.ejs") %>
</body>
</html>