<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/styleAddPage.css">
    <title>Document</title>
</head>
<!-- TODO: editen werkt vanaf nu. 
    1. Toevoegen van een foto werkt niet. ik denk da ik iets kapot heb gemaakt want er crasht iets in de js nu
    2. Tags werken nog niet dus als je nu edit dan verwijdert die de huidige tags uit de lijst waardoor website crasht want "tags": ... staat ni meer in de json voor da recept-->
<!-- TODO: tags werken nu wel maar ik heb edit kapot gemaakt lmao -->
<body>
    <form action="<%= recipe.Recept.Naam !== '' ? '/recipes/edit' : '/recipes/add' %>" method="post">
        <div id="main">
            <%- include("../partial/dragDrop.ejs") %>
                <input type="hidden" name="Foto" id="Foto" value="<%= recipe.Recept.Foto %>">
            <div class="genericBox">
                <input type="text" name="Naam" placeholder="Naam" value="<%= recipe.Recept.Naam %>">
                <input type="text" name="Prijs" placeholder="Prijs" value="<%= recipe.Recept.Prijs %>">
            </div>
            <div id="bottom">
                <div id="bottomLeft">
                    <div id="persBox" class="genericBox">
                        <button id="minusButton" type="button" onclick="changeValue('minus')">-</button>
                        <input id="personenInput" type="text" name="Personen" value="<%= recipe.Recept.Personen %>">
                        <button id="plusButton" type="button" onclick="changeValue('plus')">+</button>
                    </div>
                    <script>
                        function changeValue(type) {
                            const input = document.getElementById('personenInput');
                            const value = parseInt(input.value);
                            if (type === 'plus') {
                                input.value = value + 1;
                            } else if (type === 'minus') {
                                input.value = value - 1;
                            }
                        }
                    </script>

                    <div class="genericBox" id="ingredBox">
                        <input type="text" name="Ingredienten" placeholder="Ingredienten"
                            value="<%= JSON.stringify(recipe.Recept.Ingredienten)%>">
                    </div>
                </div>
                <div id="spacer"></div>
                <div id="bottomRight">
                    <div id="tagsBox" class="genericBox">
                        <% for (let i = 0; i < tags.length; i++) { %>
                            <% const tag = tags[i]; %>
                            <% const isChecked = recipe.Recept.tags && recipe.Recept.tags[tag] ? 'checked' : ''; %>
                            <input type="checkbox" id="cbInput<%= i + 1 %>" name="CB[<%= tag %>]" <%= isChecked %> />
                            <label for="cbInput<%= i + 1 %>" id="iconButton">
                                <img src="/icons/<%= tag %>.png" title="<%= tag %>" id="icon" />
                            </label>
                        <% } %>
                    </div>
                    <div class="genericBox" , id="stepBox">
                        <% recipe.Recept.Stappen.forEach(step=> { %>
                            <div class="step">
                                <input type="text" name="Stappen" placeholder="Typ hier een nieuwe stap"
                                    value="<%= step %>"></input>
                            </div>
                            <% }) %>
                        <button id="stepButton" type="button" onclick="insertStep()">+</button>
                        <%- include("../partial/insertElements.ejs") %> <!--  -->
                    </div>
                </div>
            </div>
            <div class="genericBox" id="submitBox">
                <button id="submitButton">Opslaan</button>
            </div>
        </div>
    </form>
</body>
</html>